{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Go Web Base">
    <meta name="author" content="">
    <title>Go Web Base - {{ template "title" . }}</title>

    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>

    <div id="content" class="container">
        {{ template "content" . }}
    </div>

    <script src="/public/main.js"></script>
</body>
</html>
{{ end }}